html
	head
		title= "Activity Graph"

		style.
			body {
				margin: 0;
			}
			.box{
				float:left;
				width: 50%;
			}
			.clear{
				clear:both;
			}
	body
		<div class="box">
			<iframe src="./graph_group" frameborder="0" scrolling="no" width="100%" height="100%" align="left"></iframe>
		</div>

		<div class="box">
			<iframe src="./graph_program" frameborder="0" scrolling="no" width="100%" height="100%" align="right"></iframe>
		</div>